@using Shop_dotNet.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
    int tong = 0;
}
<title>Nghiện bóng VCL - Giỏ hàng  </title>

<!--Body Content-->
<div id="page-content">
    <!--Page Title-->
    <div class="bredcrumbWrap">
        <div class="container breadcrumbs">
            <a href="index.html" title="Back to the home page"></a><span></span>
        </div>
    </div>
    <div class="page section-header text-center">
        <div class="page-title">
            <div class="wrapper"><h1 class="page-width"><b>Giỏ hàng</b></h1></div>
        </div>
    </div>
    <!--End Page Title-->

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 main-col">
                <form action="#" method="post" class="cart style2">
                    <table>
                        <thead class="cart__row cart__header">
                            <tr>
                                <th class="text-center"></th>
                                <th class="text-md-left">Tên sản phẩm</th>
                                <th class="text-left">Giá Tiền</th>
                                <th class="text-center">Số lượng</th>
                                <th class="text-center">Size</th>
                                <th class="text-center">Thành tiền</th>
                                <th class="text-center">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (CartItem item in (List<CartItem>)Session["cart"])
                            {
                                <tr>
                                    <td>

                                        <img src="/Areas/Admin/Assets/products/@item.product.img" class="text-center" style="width:80px">
                                    </td>
                                    <td class="cart__meta small--text-center cart-flex-item">
                                        <div class="list-view-item__title">
                                            <a href="#">@item.product.name </a>
                                        </div>
                                    </td>
                                    <td class="cart__price-wrapper cart-flex-item">
                                        <span class="money">@(double.Parse(@item.product.price   + "").ToString("#,###", System.Globalization.CultureInfo.GetCultureInfo("vi-VN")) ) VND</span>
                                    </td>
                                    <td class="cart__update-wrapper cart-flex-item text-right">
                                        <div class="cart__qty text-center">
                                            @using (Html.BeginForm("UpdateSL", "Cart"))
                                            {
                                                <div class="qtyField">
                                                    <a class="qtyBtn minus" href="/Shopping/UpdateSL?type=0&id=@item.product.id&size=@item.size"><i class="icon icon-minus"></i></a>
                                                    <input class="cart__qty-input qty" type="text" name="updates[]" id="qty" value=@item.Quantity pattern="[0-9]*">
                                                    <a class="qtyBtn plus" href="/Shopping/UpdateSL?type=1&id=@item.product.id&size=@item.size"><i class="icon icon-plus"></i></a>

                                                </div>
                                            }
                                        </div>
                                    </td>
                                    <td class="cart__price-wrapper cart-flex-item text-center">
                                        <span class="money">@item.size</span>
                                    </td>
                                    <td class="text-center small--hide cart-price">
                                        <div><span class="money">@(double.Parse((item.product.price * item.Quantity) + "").ToString("#,###", System.Globalization.CultureInfo.GetCultureInfo("vi-VN")) ) VND   </span></div>
                                    </td>

                                    <td class="text-center">
                                        @Html.ActionLink("Xóa", "Remove", new { id = item.product.id })
                                    </td>
                                </tr>
                                tong += (int)(item.product.price * item.Quantity);
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3" class="text-left"><a href=@Url.Action("Index","Home") class="btn--link cart-continue"><i class="icon icon-arrow-circle-left"></i> Tiếp tục mua hàng</a></td>

                            </tr>
                        </tfoot>-
                    </table>


                </form>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 cart__footer">
                
                <div class="solid-border">
                    <div class="row">
                        <span class="col-12 col-sm-6 cart__subtotal-title"><strong>Thành tiền</strong></span>
                        <span class="col-12 col-sm-6 cart__subtotal-title cart__subtotal text-right"><span class="money">@(double.Parse(@tong + "").ToString("#,###", System.Globalization.CultureInfo.GetCultureInfo("vi-VN")) ) VND</span></span>
                    </div>


                    <a href=@Url.Action("CheckOut","Shopping") type="submit" name="checkout" id="cartCheckout" class="btn btn--small-wide checkout" value="Đặt hàng">Đặt hàng</a>
                    <div class="paymnet-img"><img src="~/Content/AssetsClient/images/payment-img.jpg" alt="Payment"></div>
                </div>

            </div>
        </div>
    </div>

</div>
    <!--End Body Content-->
