
@model PagedList.IPagedList<Shop_dotNet.Models.product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-12">


    <h2>Sản phẩm</h2>

    <p>
        @Html.ActionLink("Thêm sản phẩm", "Create")
    </p>
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("Index","Products",FormMethod.Post))
            {
                <div class="row">

                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="input-group">
                            <input type="text" class="form-control" name="q" placeholder="Search">
                        </div>
                    </div>
                   
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <button type="submit" class="btn btn-primary btn-block" title="">Search</button>
                    </div>

                </div>
            }
            </div>
    </div>
</div>
<div class="col-12">
    <div class="card">
        <div class="table-responsive">
            <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                <thead>
                    <tr>
                        <th colspan="5">Sản phẩm</th>
                        <th colspan="3">Hành động</th>
                    </tr>
                    <tr>

                        <th>Id</th>
                        <th>Tên</th>
                        <th>Hình ảnh</th>
                        <th>Mô tả</th>
                        <th>Giá</th>
                        <th>Tên Thể loại</th>

                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td><a href="#">#@item.id</a></td>
                            <td><span>@item.name</span></td>
                            <td><img src="/Areas/Admin/Assets/products/@item.img" style="width:100px"></td>
                            <td><div style=" overflow: hidden; inline-size: 150px;">@item.description</div></td>
                            <td>@(double.Parse(item.price+"").ToString("#,###", System.Globalization.CultureInfo.GetCultureInfo("vi-VN")) )</td>

                            <td><span>@item.category.name</span></td>
                            <td>
                                <div> @Html.ActionLink("Edit", "Edit", new { id = item.id }) </div>

                                <div>  @Html.ActionLink("Delete", "Delete", new { id = item.id })</div>
                            </td>
                        </tr>
                        }

                </tbody>
            </table>
        </div>
    </div>
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount 
    <div style="float:right">
        @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page }))
    </div>
</div>

