@model IEnumerable<Shop_dotNet.Models.product>
@{
    ViewBag.Title = "Catelogy";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}
<title>Nghiện bóng VCL - Sản Phẩm </title>

<div id="page-content">
    <!--Collection Banner-->
    <div class="collection-header">
        <div class="collection-hero">
            <div class="collection-hero__image"><img class="blur-up lazyload" src="//theme.hstatic.net/200000580329/1000937158/14/slide_3_img.jpg?v=85" alt="Women" title="Women" /></div>
            <div class="collection-hero__title-wrapper"><h1 class="collection-hero__title page-width"></h1></div>
        </div>
    </div>
    <!--End Collection Banner-->

    <div class="container-fluid" style="margin-top:20px">
        <div class="row">
            <!--Sidebar-->
            <div class="col-12 col-sm-12 col-md-3 col-lg-2 sidebar filterbar">
                <div class="closeFilter d-block d-md-none d-lg-none"><i class="icon icon anm anm-times-l"></i></div>
                <div class="sidebar_tags">
                    <!--Categories-->
                    <div class="sidebar_widget categories filter-widget">
                        <div class="widget-title"><h2>Thể Loại</h2></div>

                        <div class="widget-content">
                            <ul class="sidebar_categories">
                                <li class="level1 sub-level">
                                    <a class="site-nav">Áo</a>

                                    <ul class="sublinks">
                                        <li class="level2"><a href="/Product/Catelogy?catelogy=3" class="site-nav">Áo CLB</a></li>
                                        <li class="level2"><a href="/Product/Catelogy?catelogy=4" class="site-nav">Áo Đội Tuyển</a></li>
                                    </ul>
                                </li>

                                <li class="lvl-1"><a href="/Product/Catelogy?catelogy=5" class="site-nav">Giày</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--Categories-->
                    <!--Price Filter-->
                    <!--End Price Filter-->
                    <!--Size Swatches-->
                    <!--End Size Swatches-->
                    <!--Color Swatches-->
                    <!--End Color Swatches-->
                    <!--Brand-->
                    <!--End Brand-->
                    <!--Popular Products-->
                    <!--End Popular Products-->
                    <!--Banner-->
                    <div class="sidebar_widget static-banner">
                        <img src="//theme.hstatic.net/200000580329/1000937158/14/csc_gallery_item_7_img.jpg?v=85" alt="" />
                    </div>
                    <!--Banner-->
                    <!--Information-->
                    <!--end Information-->
                    <!--Product Tags-->
                    <!--end Product Tags-->
                </div>
            </div>
            <!--End Sidebar-->
            <!--Main Content-->
            <div class="col-12 col-sm-12 col-md-9 col-lg-10 main-col">
                <div class="productList">
                    <!--Toolbar-->
                    <button type="button" class="btn btn-filter d-block d-md-none d-lg-none"> Product Filters</button>
                    <div class="toolbar">
                        <div class="filters-toolbar-wrapper">
                            <div class="row">

                                <div class="col-4 col-md-4 col-lg-4 text-center filters-toolbar__item filters-toolbar__item--count d-flex justify-content-center align-items-center">
                                    <span class="filters-toolbar__product-count">Hiển thị: @Model.Count() sản phẩm</span>
                                </div>
                                <div class="col-4 col-md-4 col-lg-4 text-right">
                                    <div class="filters-toolbar__item">
                                        <label for="SortBy" class="hidden">Sort</label>
                                        <select name="SortBy" id="SortBy" class="filters-toolbar__input filters-toolbar__input--sort" onChange="window.location.href=this.value">


                                            <option>
                                                Sắp xếp

                                            </option>

                                            <option value="/Product/Catelogy?sortOrder=">
                                                Sắp xếp theo tên A->Z
                                            </option>
                                            <option value="/Product/Catelogy?sortOrder=name_desc">
                                                Sắp xếp theo tên Z->A
                                            </option>

                                            <option value="/Product/Catelogy?sortOrder=Price">
                                                Sắp xếp theo giá từ thấp đến cao
                                            </option>
                                            <option value="/Product/Catelogy?sortOrder=price_desc">
                                                Sắp xếp theo giá từ cao đến thấp
                                            </option>
                                        </select>
                                        <input class="collection-header__default-sort" type="hidden" value="manual">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--End Toolbar-->
                    <div class="grid-products grid--view-items">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="col-6 col-sm-6 col-md-4 col-lg-3 grid-view-item style2 item">

                                    <div class="grid-view_image">
                                        <!-- start product image -->
                                        <a href="@Url.Action("ProductAccordion","Product",new { id = item.id })" class="grid-view-item__link">
                                            <!-- image -->

                                            <img class="grid-view-item__image primary blur-up lazyload" src="/Areas/Admin/Assets/products/@item.img" alt="image" title="product">
                                            <!-- End image -->
                                            <!-- Hover image -->
                                            <img class="grid-view-item__image hover blur-up lazyload" src="/Areas/Admin/Assets/products/@item.img" alt="image" title="product">
                                            <!-- End hover image -->
                                            <!-- product label -->
                                            <!-- End product label -->
                                        <!-- end product image -->
                                        <!--start product details -->
                                        <div class="product-details hoverDetails text-center mobile">
                                            <!-- product name -->
                                            <div class="product-name">
                                                <a href="@Url.Action("ProductAccordion","Product",new {id= item.id})">@item.name'</a>
                                            </div>
                                            <!-- End product name -->
                                            <!-- product price -->
                                            <div class="product-price">
                                                <span class="price">@item.price VND</span>
                                            </div>
                                            <!-- End product price -->
                                            <div class="product-review">
                                                <i class="font-13 fa fa-star"></i>
                                                <i class="font-13 fa fa-star"></i>
                                                <i class="font-13 fa fa-star"></i>
                                                <i class="font-13 fa fa-star-o"></i>
                                                <i class="font-13 fa fa-star-o"></i>
                                            </div>
                                            <!-- product button -->
                                            
                                            <!-- end product button -->
                                        </div>
                                        <!-- End product details -->
                                            </a>
                                    </div>

                                </div>
                            }

                        </div>
                    </div>
                </div>
                <!--End Main Content-->
            </div>
        </div>
    </div>
    <!--End Body Content-->
    <!--Footer-->
    <!--End Footer-->
    <!--Scoll Top-->
    <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
    <!--End Scoll Top-->
    <!--Quick View popup-->
    <div class="modal fade quick-view-popup" id="content_quickview">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="ProductSection-product-template" class="product-template__container prstyle1">
                        <div class="product-single">
                            <!-- Start model close -->
                            <a href="javascript:void()" data-dismiss="modal" class="model-close-btn pull-right" title="close"><span class="icon icon anm anm-times-l"></span></a>
                            <!-- End model close -->
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="product-details-img">
                                        <div class="pl-20">
                                            <img src="/Content/AssetsClient/images/product-detail-page/camelia-reversible-big1.jpg" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="product-single__meta">
                                        <h2 class="product-single__title">Product Quick View Popup</h2>
                                        <div class="prInfoRow">
                                            <div class="product-stock"> <span class="instock ">In Stock</span> <span class="outstock hide">Unavailable</span> </div>
                                            <div class="product-sku">SKU: <span class="variant-sku">19115-rdxs</span></div>
                                        </div>
                                        <p class="product-single__price product-single__price-product-template">
                                            <span class="visually-hidden">Regular price</span>
                                            <s id="ComparePrice-product-template"><span class="money">$600.00</span></s>
                                            <span class="product-price__price product-price__price-product-template product-price__sale product-price__sale--single">
                                                <span id="ProductPrice-product-template"><span class="money">$500.00</span></span>
                                            </span>
                                        </p>
                                        <div class="product-single__description rte">
                                            Belle Multipurpose Bootstrap 4 Html Template that will give you and your customers a smooth shopping experience which can be used for various kinds of stores such as fashion,...
                                        </div>

                                        <form method="post" action="http://annimexweb.com/cart/add" id="product_form_10508262282" accept-charset="UTF-8" class="product-form product-form-product-template hidedropdown" enctype="multipart/form-data">
                                            <div class="swatch clearfix swatch-0 option1" data-option-index="0">
                                                <div class="product-form__item">
                                                    <label class="header">Color: <span class="slVariant">Red</span></label>
                                                    <div data-value="Red" class="swatch-element color red available">
                                                        <input class="swatchInput" id="swatch-0-red" type="radio" name="option-0" value="Red">
                                                        <label class="swatchLbl color medium rectangle" for="swatch-0-red" style="background-image:url(/Content/AssetsClient/images/product-detail-page/variant1-1.jpg);" title="Red"></label>
                                                    </div>
                                                    <div data-value="Blue" class="swatch-element color blue available">
                                                        <input class="swatchInput" id="swatch-0-blue" type="radio" name="option-0" value="Blue">
                                                        <label class="swatchLbl color medium rectangle" for="swatch-0-blue" style="background-image:url(/Content/AssetsClient/images/product-detail-page/variant1-2.jpg);" title="Blue"></label>
                                                    </div>
                                                    <div data-value="Green" class="swatch-element color green available">
                                                        <input class="swatchInput" id="swatch-0-green" type="radio" name="option-0" value="Green">
                                                        <label class="swatchLbl color medium rectangle" for="swatch-0-green" style="background-image:url(/Content/AssetsClient/images/product-detail-page/variant1-3.jpg);" title="Green"></label>
                                                    </div>
                                                    <div data-value="Gray" class="swatch-element color gray available">
                                                        <input class="swatchInput" id="swatch-0-gray" type="radio" name="option-0" value="Gray">
                                                        <label class="swatchLbl color medium rectangle" for="swatch-0-gray" style="background-image:url(/Content/AssetsClient/images/product-detail-page/variant1-4.jpg);" title="Gray"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swatch clearfix swatch-1 option2" data-option-index="1">
                                                <div class="product-form__item">
                                                    <label class="header">Size: <span class="slVariant">XS</span></label>
                                                    <div data-value="XS" class="swatch-element xs available">
                                                        <input class="swatchInput" id="swatch-1-xs" type="radio" name="option-1" value="XS">
                                                        <label class="swatchLbl medium rectangle" for="swatch-1-xs" title="XS">XS</label>
                                                    </div>
                                                    <div data-value="S" class="swatch-element s available">
                                                        <input class="swatchInput" id="swatch-1-s" type="radio" name="option-1" value="S">
                                                        <label class="swatchLbl medium rectangle" for="swatch-1-s" title="S">S</label>
                                                    </div>
                                                    <div data-value="M" class="swatch-element m available">
                                                        <input class="swatchInput" id="swatch-1-m" type="radio" name="option-1" value="M">
                                                        <label class="swatchLbl medium rectangle" for="swatch-1-m" title="M">M</label>
                                                    </div>
                                                    <div data-value="L" class="swatch-element l available">
                                                        <input class="swatchInput" id="swatch-1-l" type="radio" name="option-1" value="L">
                                                        <label class="swatchLbl medium rectangle" for="swatch-1-l" title="L">L</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Product Action -->
                                            <div class="product-action clearfix">
                                                <div class="product-form__item--quantity">
                                                    <div class="wrapQtyBtn">
                                                        <div class="qtyField">
                                                            <a class="qtyBtn minus" href="javascript:void(0);"><i class="fa anm anm-minus-r" aria-hidden="true"></i></a>
                                                            <input type="text" id="Quantity" name="quantity" value="1" class="product-form__input qty">
                                                            <a class="qtyBtn plus" href="javascript:void(0);"><i class="fa anm anm-plus-r" aria-hidden="true"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-form__item--submit">
                                                    <button type="button" name="add" class="btn product-form__cart-submit">
                                                        <span>Add to cart</span>
                                                    </button>
                                                </div>
                                            </div>
                                            <!-- End Product Action -->
                                        </form>
                                        <div class="display-table shareRow">
                                            <div class="display-table-cell">
                                                <div class="wishlist-btn">
                                                    <a class="wishlist add-to-wishlist" href="#" title="Add to Wishlist"><i class="icon anm anm-heart-l" aria-hidden="true"></i> <span>Add to Wishlist</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End-product-single-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

